.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.active-page .nav-link::before {
    content: '> ';
    margin-right: 5px;
    color: #FF9068; /* Highlight color */
    font-weight: bold;
}

/* Make navbar taller to fit logo */
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Override Bootstrap's text-muted color for neon blue */
.text-muted {
    color: #00FFFF !important;
}

/* Set color for list items in pricing cards to neon blue */
.card .list-unstyled li {
    color: #00FFFF !important;
}

/* Change event titles in modal to neon blue */
.modal-body h5 {
    color: #00FFFF !important;
}

/* Change event descriptions in modal to neon blue */
.modal-body p {
    color: #00FFFF !important;
}

/* Change modal background to transparent neon blue */
.modal-content {
    background: rgba(0, 240, 255, 0.2) !important;
}
